body{
    background: #E5E5E5;
}
/* the container "all" allowing position the elements "one" and "two" in left and right for later put a footer in down*/
.all {
    display: flex;
}

.one{
    width: 70%;
    height: auto;
    /* background: blue; */
}

header .logo{
    width: 42px;
    height: 58px;
    /* background: red; */
    margin-left: 55px;
    margin-top: 20px;
}

.text_area{
    padding-left: 53px;
}

textarea{
    border: none;
    margin-top: 60px;
    border-color:#E5E5E5 ;
}

#texto{
    width: 750px;
    height: 350px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #E5E5E5;
    border: none;

}



.buttons{
    /* background: rebeccapurple; */
    height: 100px;
    padding-left: 53px;
}

.buttons button{
    width: 350px;
    height: 60px;
    border: solid 3px #001638 ;
    border-radius: 20px ;
    background: #1e65cf;
    margin-top: 30px;
    margin-right:50px ;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#recordatorio{
    color: gray;
    font-size: 20px;

}
.two{
    width: 30%;
    height: 615px;
    /* background: green; */
    padding:20px 30px;
    padding-left: 40px;
    
}

#container{
    width: 400px;
    height: 525px;
    border: 3px solid darkblue;
    border-radius: 30px;
    padding-top: 40px ;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

#container h1{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container p{
    font-size: 20px;
    
}

footer{
    display: block;
    height: 50px;
}

.logos{
    display: flex;
    justify-content: center;
}

.derechos{
    text-align: center;
}

/* Responsive Design */

@media (max-width: 57.5em){
    .all{
        display: flex;
        flex-direction: row;
    }

}